@font-face {
    font-family: Droid;
    src: url(etc/DroidSerif-Italic.ttf);
}

@font-face {
    font-family: Mattoa;
    src: url(etc/Mattoa.ttf);
}

@font-face {
    font-family: Peace;
    src: url(etc/Peace.ttf);

}

@font-face {
    font-family: Poppins;
    src: url(etc/Poppins.ttf);

}

:root {
    --var-light-green: #9AC66B;
    --var-green: #54A14C;
    --var-light: #F3FEEE;
    --var-white: #FFFFFF;
    --var-brown: #6F3A21;
    --var-black: #282828;
    --var-light-black: #454545;
    ;
    --var-beige: #F4EFEC;
    --var-light-beige: #F4EFEC;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: auto;
}

.logo {
    cursor: pointer;
}

nav {
    background-color: var(--var-light);
    padding: .5rem 1.5rem;
    position: static;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-right: 1.5rem;
}

nav a {
    text-decoration: none;
    font-family: Mattoa;
    color: var(--var-green);
    font-weight: lighter;
    text-shadow: 0px 2px 0px #d5f0b7;
}

.nav-bar-bars {
    display: block;
}

.sidebar {
    padding: .75rem 0 0 0;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 50%;
    z-index: 998;
    /* backdrop-filter: blur(10px); */
    /* background-color: #5188123e; */
    background-color: var(--var-light);
    box-shadow: -10px 0 10px #00000023;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 1rem;
    margin: .25rem 0
}

.sidebar a {
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    color: var(--var-green);
    text-decoration: none;
    font-family: Mattoa;
    padding: .5rem;
}


.sidebar li:hover {
    width: 100%;
    background-color: #bdbdbd4c;
    cursor: pointer;
}

.sidebar a:hover {
    width: 100%;
    color: #44833d;
}

.hideAsShrink {
    display: none;
}

.container {
    padding: .5rem 0 0 0;
    margin: 0 0.5rem;
}


.banner-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-img {
    width: 20rem;
}

.banner-text-solid {
    font-family: Peace;
    color: var(--var-brown);
    font-size: 2.5rem;
    line-height: .8;
    margin-bottom: 2rem;
    text-shadow: 0px 1.5px 1px rgba(156, 156, 156, .8);
}

.banner-text-outline {
    font-family: Mattoa;
    color: var(--var-green);
    font-size: 2.5rem;
    font-weight: bolder;
    line-height: 1;
    text-shadow: 0px 2px 0px #d5f0b7;
}

.banner-text-details {
    font-family: Poppins;
    color: var(--var-black);
    font-size: .7rem;
    line-height: 1.3;
    max-width: 300px;

    padding: .75rem 0;
}

.banner-btn {
    background-color: var(--var-light-green);
    padding: .35rem .75rem;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    font-family: Poppins;
    font-weight: bolder;
}

.banner-btn-text {
    color: var(--var-white);
    text-decoration: none;
}

/* ads */

.ads-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    left:50%;
    top: 50%;
    margin:0 auto;
    
    pointer-events: none;

    opacity: 0;
    transition: all 700ms ease;
}

.ads-container.active{
    background-color: #d5f0b72d;
    box-shadow: -10px 0 10px #00000023;
    pointer-events: auto;
    opacity: 1;
}

.ads{
    position: relative;
    width: 19rem;
    background-color: var(--var-light-green);
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.8rem .8rem;
    margin: 1rem auto;

    transition: all 200ms ease;
    opacity: 0;
}

.ads.active{
    opacity: 1;
}

.ads-overlay{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    pointer-events: none;

    z-index: 999;

    opacity: 0;
    transition: all 700ms ease;
}

.ads-overlay.active{
    backdrop-filter: blur(10px);
    background:#00000066;
    pointer-events: auto;
    opacity: 1;
}

.ads img{
    width: 16rem;
}

.ads button{
    align-self: flex-start;
    position: absolute;
    top: 0;
    right: .45rem;
    font-size: 1.7rem;
    background-color: transparent;
    border: none;
    color:#f4f4f4;
}

.ads button:hover{
    color:rgb(231, 64, 64);
}

.ads button:active{
    color:rgb(137, 10, 10);
}


.marquee {
    display: flex;
    overflow: hidden;
    gap: 1.5rem;
    margin: 1rem 0;
    padding: .5rem 0;
    position: relative;
    user-select: none;

    background: rgb(154, 198, 107);
    background: linear-gradient(90deg, rgba(154, 198, 107, 1) 55%, rgba(255, 255, 255, 1) 100%);
}

.marquee-content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: 1.5rem;
    align-items: center;
}

.marquee-text-container {
    gap: 1rem;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 1rem));
    }
}

.scroll {
    animation: scroll 15s linear infinite;
}

.marquee-text-mattoa,
.marquee-text-droid {
    color: var(--var-white);

}

.marquee-text-mattoa {
    font-family: Mattoa;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.marquee-text-droid {
    padding-left: .2rem;
    font-family: Droid;
    font-size: 1.75rem;
}

.pastries {
    /* display: flex;
    justify-content: space-between; */

    background: rgb(154, 198, 107);
    background: linear-gradient(90deg, #9ac66b 55%, rgba(255, 255, 255, 1) 100%);

    padding: 1rem .75rem;
    margin: 2rem .75rem;
    border-radius: 25px;
}

.pastries-left {
    border-radius: 25px;
    background-color: #e5f1d8;
}

.pastries-text-details {
    font-family: Poppins;
    color: var(--var-black);
    font-size: .5rem;
    line-height: 1.3;
    max-width: 260px;
    font-weight: 500;
    padding: .75rem;
}

.pastries-text-details-styled {
    font-family: Poppins;
    color: var(--var-light-black);
    font-size: .5rem;
    line-height: 1.3;
    max-width: 260px;
    font-weight: lighter;
    padding: 0 0 .75rem .75rem;
    font-style: italic;
}

.pastries-right {
    display: flex;
    position: relative;
}

.pastries-right-text {
    margin-top: .5rem;
    z-index: 1;
}

.pastries-right-text h2 {
    font-family: Mattoa;
    color: var(--var-white);
    font-size: 1.2rem;
    text-shadow: 0px 2px 0px var(--var-green);
}

.waffle-img {
    position: absolute;
    width: 10rem;
    left: 8.5rem;
    top: -1rem
}

.offer {
    border-bottom: 2rem solid var(--var-beige);
    border-top: 2rem solid var(--var-beige);
    background-color: var(--var-white);
    padding: 1rem 0;
    margin: 0 0 1rem 0;

    position: relative;
    display: grid;
}

.offer-img {
    position: absolute;
    width: 10rem;
    left: -.01rem;
    top: 11.6rem;
}

.offer h2 {
    font-family: Mattoa;
    color: var(--var-brown);
    font-size: 1.75rem;
    text-align: center;
    display: inline-block;
    padding: 0 0 .75rem 0;
    text-shadow: 0px 2px 0px var(--var-beige);
}

.offer-details {
    padding: 0 .25rem 0 0;
}

.offer-boxes {
    padding: 0 .5rem 0 0;
    display: flex;
}

.offer-icon-1 {
    color: var(--var-brown);
    align-self: center;
    padding: .65rem .80rem;
    font-size: 1.3rem;
    margin: 0 0 0 .35rem;
    border-radius: 100%;
    background-color: #D2EEB5;
}

.offer-icon-2 {
    color: var(--var-brown);
    align-self: center;
    padding: .65rem .87rem;
    font-size: 1.3rem;
    margin: 0 0 0 .35rem;
    border-radius: 100%;
    background-color: #D2EEB5;
}

.offer-icon-3 {
    color: var(--var-brown);
    align-self: center;
    padding: .65rem .80rem;
    font-size: 1.3rem;
    margin: 0 0 0 .35rem;
    border-radius: 100%;
    background-color: #D2EEB5;
}

.offer-icon-4 {
    color: var(--var-brown);
    align-self: center;
    padding: .65rem .73rem;
    font-size: 1.3rem;
    margin: 0 0 0 .35rem;
    border-radius: 100%;
    background-color: #D2EEB5;
}

.offer-boxes h3 {
    font-family: Peace;
    color: var(--var-brown);
    font-size: 1rem;
    text-align: right;
}

.offer-boxes p {
    font-family: Poppins;
    color: var(--var-black);
    font-size: .7rem;
    line-height: 1.3;
    max-width: 320px;
    text-align: right;

    padding: 0 0 .75rem 2.3rem;
}

.menu-container {
    padding: .5rem 0;
    margin: auto 0;
}

.menu-gradient {
    text-align: center;
    font-family: Mattoa;
    font-size: 1.75rem;
    color: var(--var-white);
    background: rgb(120, 160, 78);
    background: linear-gradient(0deg, #78a04e 0%,
            rgba(120, 160, 78, 1) 33%, rgba(154, 198, 107, 1) 33%, rgba(154, 198, 107, 1) 64%, rgba(189, 227, 148, 1) 64%, rgba(189, 227, 148, 1) 100%);
    padding: .5rem 1.5rem;
    text-shadow: 0px 2px 0px var(--var-green);

}

.menu-img-container {
    padding: 0 .5rem .5rem .5rem;
    background-color: #78a04e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-img,
.about-us {
    width: 100%;
}

.about-img{
    padding: .5rem 0 0 0;
    width: 28rem;
}

.about-us{
    padding: 0 0 .75rem 0;
    background-color: #88c543;
}

.about-us-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
}

.about-us-text h3 {
    color: var(--var-white);
    padding: .75rem 0;
    text-align: center;
    font-family: Mattoa;
    font-size: 1.25rem;
    text-shadow: 0px 2px 0px var(--var-green);
}

.about-us-socials {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-us-socials-ley,
.about-us-socials-ker,
.about-us-socials-jai {
    display: flex;
    flex-direction: column;
}

.social-link{
    text-decoration: none;
}

.social-link:visited{
    text-decoration: none;
}

.social-text {
    color: var(--var-white);
    font-family: Poppins;
    font-size: .65rem;
}

.fb{ 
    background-color: var(--var-white);
    border-radius: 50%;
}

.ig {
    color: var(--var-white);
    background-image: linear-gradient(to right,
            #feda75,
            #fa7e1e,
            #d62976,
            #962fbf,
            #4f5bd5);
            padding: .01rem .03rem;
    border-radius: 4px;
    margin: 0 .1rem 0 0;
}

.to-top {
    background-color: var(--var-light);
    position: fixed;
    /* bottom: 20005px; */
    right: 30px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--var-light-green);
    opacity: 0;
    font-size: 2.5rem;
    pointer-events: none;
    transition: all .5s;
    z-index: 4;
}

.to-top.active {
    bottom: 25px;
    pointer-events: auto;
    opacity: 1;
}

.to-top:hover {
    background-color: var(--var-light-green);
    color: var(--var-light);
}

footer {
    background-color: var(--var-light);
    padding: .25rem 0;
}

footer h3{
    color: var(--var-light-green);
    padding: .75rem 0;
    text-align: center;
    font-family: Mattoa;
    font-size: 1.25rem;
    text-shadow: 0px 2px 0px var(--var-green);
}

.footer-left{
    color: var(--var-light-black);
    font-family: Poppins;
    font-size: .65rem;
    text-align: center ;
}

/* .footer-logo{
    width: 5rem;
} */

.contact-us-socials{
    text-align: center;
    margin: .75rem 0 0 0;
}

.contact-social-text{
    color: var(--var-light-black);
    font-family: Poppins;
    font-size: 1rem;
}

.footer-bottom p{
    color: var(--var-light-black);
    font-family: Poppins;
    font-size: .5rem;
    font-weight: lighter;
    text-align: center ;
}

.footer-line{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-border-btm-line {
    display: block;
    width: 90%;
    margin: 0 auto;
    margin: 1rem;
    height: .1rem;
    border: none;
    border-bottom: .1rem solid #d5efb7;
}

@media screen and (min-width: 375px) {
    /* .sidebar {
        width: 375px;
    } */

    .banner-right{
        padding: 0 .25rem;
        margin: 0 auto;
    }
    

    .banner-img {
        width: 30rem;
    }

    .banner-text-solid {
        font-size: 3rem;
        line-height: .8;
        margin-bottom: 2rem;
    }

    .banner-text-outline {
        font-size: 3.0rem;
        line-height: 1.1;
    }

    .banner-text-details {
        font-size: .75rem;
        line-height: 1.3;
        max-width: 460px;
    }

    .ads{
        width: 27rem;
        padding: 1.8rem .8rem;
    }

    .ads img{
        width: 24rem;
    }

    .pastries-left {
        padding: 0 1rem;
    }

    .pastries-text-details,
    .pastries-text-details-styled {
        max-width: 440px;
    }

    .pastries-right {
        padding: 0 3rem;
    }

    .waffle-img {
        width: 10rem;
        left: 10rem;
        top: -1rem
    }

    .offer-img {
        position: absolute;
        width: 10rem;
        left: 0rem;
        top: 11.7rem;
    }

    .offer-boxes {
        padding: 0 .75rem 0 0;
    }

    .offer-boxes p {
        max-width: 420px;
        padding: 0 0 .75rem 4rem;
    }
    
    .about-img{
        padding: .75rem 0 0 0;
        width: 22rem;
    }

    .about-us-socials{
        padding: 0 1rem;
    }
    
    .about-us-text h3 {
        font-size: 1.3rem;
    }

    .social-text {
        font-size: .7rem;
    }

    .about-us-socials i{
        font-size: .9rem;
    }

    footer h3{
        padding: .75rem 0;
        font-size: 1.2rem;
    }

    .contact-us-socials i {
        font-size: 1.15rem;
    }

    .contact-social-text{
        font-size: 1.1rem;
    }

    .footer-left{
        font-size: .7rem;
    }

    .footer-bottom p{
        font-size: .6rem;
    }
}

@media screen and (min-width: 414px) {
    .offer-img {
        width: 10rem;
        left: 0rem;
        top: 7.95rem;
    }
}

@media screen and (min-width: 428px) {
    .offer-img {
        width: 10rem;
        left: 0rem;
        top: 7.95rem;
    }
}

@media screen and (min-width: 475px) {
    /* .sidebar {
        width: 475px;
    } */

    .banner-img {
        width: 30rem;
    }

    .banner-text-solid {
        font-size: 3.8rem;
        line-height: .8;
        margin-bottom: 2rem;
    }

    .banner-text-outline {
        font-size: 3.8rem;
        line-height: 1.1;
    }

    .banner-text-details {
        font-size: .75rem;
        line-height: 1.3;
        max-width: 460px;
    }

    .ads{
        width: 27rem;
        padding: 1.8rem .8rem;
    }

    .ads img{
        width: 24rem;
    }

    .pastries-left {
        padding: 0 1rem;
    }

    .pastries-text-details,
    .pastries-text-details-styled {
        max-width: 440px;
    }

    .pastries-right {
        padding: 0 3rem;
    }

    .waffle-img {
        width: 12rem;
        left: 11rem;
        top: -1.9rem
    }

    .offer-img {
        position: absolute;
        width: 10rem;
        left: 0rem;
        top: 7.95rem;
    }

    .offer-boxes {
        padding: 0 .75rem 0 0;
    }

    .offer-boxes p {
        max-width: 420px;
        padding: 0 0 .75rem 4rem;
    }
    
    .about-img{
        padding: .75rem 0 0 0;
        width: 28rem;
    }

    .about-us-socials{
        padding: 0 2rem;
    }
    
    .about-us-text h3 {
        font-size: 1.5rem;
    }

    .social-text {
        font-size: .8rem;
    }

    .about-us-socials i{
        font-size: 1rem;
    }

    footer h3{
        padding: .75rem 0;
        font-size: 1.5rem;
    }

    .contact-us-socials i {
        font-size: 1.15rem;
    }

    .contact-social-text{
        font-size: 1.25rem;
    }

    .footer-left{
        font-size: .8rem;
    }

    .footer-bottom p{
        font-size: .6rem;
    }

    @media screen and (min-width: 640px) {
        nav a {
            font-size: 1.3rem;
        }
        
        .banner-img {
            width: 35rem;
        }

        /* .sidebar {
            width: 640px;
        } */

        .banner-text-solid {
            font-size: 5.2rem;
            line-height: .8;
            margin-bottom: 2rem;
        }

        .banner-text-outline {
            font-size: 5.2rem;
            line-height: 1.1;
        }

        .banner-text-details {
            font-size: .90rem;
            line-height: 1.3;
            max-width: 580px;
            padding: 1rem 0;
        }

        .banner-btn {
            padding: .5rem 1rem;
            border-radius: 35px;
        }

        .banner-btn-text {
            color: var(--var-white);
            text-decoration: none;
            font-size: .90rem;
        }

        .ads{
            width: 31rem;
            padding: 1.8rem .8rem;
        }
    
        .ads img{
            width: 27rem;
        }
    

        .marquee {
            padding: .5rem 0;
        }

        .marquee-text-mattoa {
            font-family: Mattoa;
            font-size: 1.75rem;
            display: flex;
            align-items: center;
        }

        .marquee-text-droid {
            padding-left: .2rem;
            font-family: Droid;
            font-size: 2rem;
        }

        .pastries {
            display: flex;
            gap: .5rem;

            padding: 1rem .75rem;
            margin: 2rem .75rem;
        }

        .pastries-text-details,
        .pastries-text-details-styled {
            font-size: .5rem;
            max-width: 250px;
        }

        .pastries-text-details {
            padding: .85rem .85rem .75rem .85rem;
        }

        .pastries-text-details-styled {
            padding: 0 0 .85rem .85rem;
        }

        .pastries-right-text h2 {
            font-size: 1.3rem;
        }

        .pastries-right {
            display: flex;
            padding: 0;
            align-items: center;
            position: relative;
        }

        .pastries-right-text {
            /* position: absolute; */
            z-index: 1;
            top: 0;
            left: 0;
        }

        .pastries-right-img {
            position: absolute;
            z-index: 0;
            width: 14rem;
            top: -.2rem;
            right: .5rem;
        }

        .waffle-img {
            width: 15rem;
        }


        .offer h2 {
            display: inline-block;
            text-align: center;
            padding: 0 0 1rem 9rem;
            font-size: 2rem;
        }

        .offer-right {
            display: grid;
            grid-template-columns: .5fr .5fr;
            align-items: flex-end;
            padding: 0 0 0 6rem;
        }

        .offer-boxes {
            padding: 1rem .5rem 1rem 0;
            justify-content: flex-start;
        }

        .offer-boxes p {
            max-width: 200px;
            text-align: right;

            padding: 0 0 .75rem 0;
        }

        .offer-img {
            position: absolute;
            width: 12rem;
            left: -.01rem;
            top: 3.9rem;
        }


        .offer-icon-1 {
            padding: .65rem .80rem;
            font-size: 1.5rem;
        }

        .offer-icon-2 {
            padding: .65rem .87rem;
            font-size: 1.5rem;
        }

        .offer-icon-3 {
            padding: .65rem .80rem;
            font-size: 1.5rem;
        }

        .offer-icon-4 {
            padding: .65rem .73rem;
            font-size: 1.5rem;
        }


        .menu-gradient {
            font-size: 2rem;
        }

        .menu-img-container {
            padding: 0 .5rem 1rem .5rem;
        }

        .menu-img {
            width: 36rem;
        }

        .about-img{
            padding: 1.25rem 0 0 0;
            width: 37rem;
        }

        .about-us-socials{
            padding: 0 3rem;
        }

        .about-us-text h3 {
            font-size: 1.75rem;
        }
    
        .social-text {
            font-size: 1rem;
        }
    
        .about-us-socials i{
            font-size: 1.2rem;
        }

        
        footer h3{
            padding: .75rem 0;
            font-size: 1.75rem;
        }

        .contact-us-socials i {
            font-size: 1.35rem;
        }

        .contact-social-text{
            font-size: 1.3rem;
        }

        .footer-left{
            font-size: .9rem;
        }

        .footer-bottom p{
            font-size: .7rem;
        }

        @media screen and (min-width: 768px) {
            .hideAsShrink {
                display: flex;
            }

            .nav-bar-bars {
                display: none;
            }

            .container {
                padding: 1rem 0;
                margin: 0 0.5rem;
            }

            .banner {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .banner-right{
                padding: 0;
                margin: 0 auto;
            }
    
            
            .banner-left {
                width: 50%;
            }

            .banner-right {
                width: 50%;
            }

            .banner-text-solid {
                font-size: 3.2rem;
            }

            .banner-text-outline {
                font-size: 3.1rem;
            }

            .banner-text-details {
                font-size: .8rem;
                max-width: 340px;
            }

            .ads{
                width: 34rem;
                padding: 1.8rem .8rem;
            }
        
            .ads img{
                width: 30rem;
            }
    
            .pastries-text-details,
            .pastries-text-details-styled {
                font-size: .60rem;
                max-width: 330px;
            }

            .pastries-right-img {
                width: 15rem;
                top: 0;
                right: -2rem;
            }

            .offer h2 {
                padding: 0 0 1rem 17rem;
            }

            .offer-right {
                grid-template-columns: .8fr .8fr;
                /* gap: 1rem; */
                padding: 0 0 0 14rem;
            }

            .offer-boxes {
                padding: 1rem .5rem 1rem 0;
            }

            .offer-boxes p {
                max-width: 200px;
                text-align: right;

                padding: 0 0 .75rem 0;
            }

            .offer-img {
                width: 20rem;
                top: 4.6rem;
                left: 0;
            }

            .menu-img-container {
                padding: 0 .5rem 1.5rem .5rem;
            }

            .menu-img {
                width: 44rem;
            }

            .about-img{
                padding: 1.25rem 0 0 0;
                width: 44rem;
            }

            .about-us-socials{
                padding: 0 4rem;
            }
    
            .about-us-text h3 {
                font-size: 1.8rem;
            }
        
            .social-text {
                font-size: 1rem;
            }
        
            .about-us-socials i{
                font-size: 1.2rem;
            }   

            footer{
                padding: 1rem 0;
            }

            .footer-content{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1rem 2.5rem;
            }   

            .footer-right{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin: 0;
                padding: 0;
            }

            .contact-us-socials{
                text-align: right;
                margin: 0;  
                padding: 0;
            }

            footer h3{
                padding: .75rem 0 0 2.5rem;
                font-size: 1.75rem;
                text-align: left;
            }
    
            .contact-us-socials i {
                font-size: 1.25rem;
            }
    
            .contact-social-text{
                font-size: 1.3rem;
                text-align: right;
            }
    
            .footer-left{
                text-align: left;
                font-size: .8rem;
            }
    
            .footer-bottom p{
                font-size: .7rem;
            }

            .to-top {
                font-size: 3.25rem;
                bottom: 35px;
                right: 35px;
                width: 50px;
                height: 50px;
            }

            .to-top.active {
                bottom: 35px;
            }

            @media screen and (min-width: 1024px) {

                nav a {
                    font-size: 1.5rem;
                }

                nav li {
                    margin-right: 1.75rem;
                }

                .banner-img {
                    width: 33rem;
                }        

                .banner-left {
                    width: 45%;
                }

                .banner-text-solid {
                    font-size: 4.7rem;
                }

                .banner-text-outline {
                    font-size: 4.2rem;
                }

                .banner-text-details {
                    font-size: .9rem;
                    max-width: 440px;
                }

                .marquee {
                    gap: 0;
                    margin: 1rem 0;
                    padding: .5rem 0;
                }

                .marquee-content {
                    gap: 0;
                }

                .ads{
                    width: 34rem;
                    padding: 2rem .8rem;
                }
            
                .ads img{
                    width: 30rem;
                }

                .pastries {
                    margin: 2.5rem .75rem;
                }

                .pastries-left {
                    padding: .5rem 2rem;
                }

                .pastries-text-details,
                .pastries-text-details-styled {
                    font-size: .7rem;
                    max-width: 420px;
                }

                .pastries-right-text h2 {
                    font-size: 1.8rem;
                }

                .pastries-right-img {
                    width: 19rem;
                    top: -1.5rem;
                    right: -6rem;
                }

                .waffle-img {
                    width: 20rem;
                }

                .offer h2 {
                    padding: 0 0 1rem 21rem;
                    font-size: 2.25rem;
                }

                .offer-right {
                    grid-template-columns: 1fr 1fr;
                    padding: 0 1rem 0 16rem;
                }

                .offer-boxes {
                    padding: 1rem .5rem 1rem 0;
                }

                .offer-boxes h3 {
                    font-size: 1.3rem;
                }

                .offer-boxes p {
                    max-width: 300px;
                    text-align: right;

                    font-size: .9rem;
                    padding: 0 0 .75rem 0;
                }

                .offer-img {
                    width: 25rem;
                    top: 4rem;
                    left: 0;
                }

                .offer-icon-1 {
                    padding: .75rem .90rem;
                    font-size: 1.8rem;
                }

                .offer-icon-2 {
                    padding: .75rem .97rem;
                    font-size: 1.8rem;
                }

                .offer-icon-3 {
                    padding: .75rem .90rem;
                    font-size: 1.8rem;
                }

                .offer-icon-4 {
                    padding: .75rem .83rem;
                    font-size: 1.8rem;
                }


                .menu-img-container {
                    padding: 1rem 2rem 2rem 2rem;
                }

                .menu-gradient {
                    font-size: 2.5rem;
                }

                .menu-img {
                    width: 59rem;
                }

                .to-top {
                    font-size: 4.25rem;
                    bottom: 35px;
                    right: 35px;
                    width: 65px;
                    height: 65px;
                }

                .to-top.active {
                    bottom: 35px;
                }

                .about-img{
                    padding: 2.25rem 0 0 0;
                    width: 59rem;
                }

                .about-us-socials{
                    padding: 0 10rem;
                }
        
                .about-us-text h3 {
                    font-size: 2.3rem;
                }
            
                .social-text {
                    font-size: 1.3rem;
                }
            
                .about-us-socials i{
                    font-size: 1.8rem;
                }
             
                .footer-content{
                    padding: 0 3.2rem;
                }   
    
                footer h3{
                    padding: .75rem 0 0 3.2rem;;
                    font-size: 2rem;
                }
        
                .contact-us-socials i {
                    font-size: 1.55rem;
                }
        
                .contact-social-text{
                    font-size: 1.5rem;
                }
        
                .footer-left{
                    font-size: 1rem;
                }
        
                .footer-bottom p{
                    font-size: .8rem;
                }

                footer{
                    padding: 1rem 0;
                }

                .footer-content{
                padding: 1rem 2.5rem;
                }

                @media screen and (min-width: 1280px) {
                    nav {
                        padding: 1rem 2rem;
                    }

                    nav li {
                        margin-right: 2rem;
                    }

                    nav a {
                        font-size: 1.7rem;
                    }

                    .banner-img {
                        width: 32rem;
                    }   

                    .banner-left {
                        width: 45%;
                    }

                    .banner-text-solid {
                        font-size: 5.5rem;
                    }

                    .banner-text-outline {
                        font-size: 5.2rem;
                    }

                    .banner-text-details {
                        font-size: 1rem;
                        max-width: 540px;
                    }

                    .banner-btn-text {
                        color: var(--var-white);
                        text-decoration: none;
                        font-size: 1rem;
                    }

                    .pastries-text-details,
                    .pastries-text-details-styled {
                        font-size: .8rem;
                        max-width: 550px;
                    }

                    .pastries-right-img {
                        width: 22rem;
                        top: -1.8rem;
                        right: -11rem;
                    }

                    .pastries-right-text h2 {
                        font-size: 2rem;
                    }

                    .pastries-left {
                        padding: .5rem 2rem;
                    }

                    /* offer */
                    .offer h2 {
                        font-size: 2.5rem;
                        padding: 0 0 1rem 32rem;
                    }

                    .offer-right {
                        grid-template-columns: 1.2fr 1.2fr;
                        /* gap: 1rem; */
                        padding: 0 0 0 28rem;
                    }

                    .offer-boxes {
                        padding: 1rem .5rem 1rem 0;
                    }


                    .offer-boxes h3 {
                        font-size: 1.5rem;
                    }

                    .offer-boxes p {
                        max-width: 300px;
                        text-align: right;

                        font-size: 1rem;
                        padding: 0 0 .75rem 0;
                    }

                    .offer-img {
                        width: 30rem;
                        top: 1.8rem;
                        left: 0
                    }

                    .offer-icon-1 {
                        padding: .85rem 1.1rem;
                        font-size: 2rem;
                    }

                    .offer-icon-2 {
                        padding: .85rem 1.2rem;
                        font-size: 2rem;
                    }

                    .offer-icon-3 {
                        padding: .85rem 1.1rem;
                        font-size: 2rem;
                    }

                    .offer-icon-4 {
                        padding: .85rem .9rem;
                        font-size: 2rem;
                    }

                    .menu-img-container {
                        padding: 1.5rem 2.5rem 2.5rem 2.5rem;
                    }

                    .menu-gradient {
                        font-size: 2.8rem;
                    }

                    .menu-img {
                        width: 75rem;
                    }
                    
                    .about-img{
                        padding: 3rem 0 0 0;
                        width: 72rem;
                    }

                    .about-us-socials{
                        padding: 0 10rem;
                    }
            
                    .about-us-text h3 {
                        font-size: 2.5rem;
                    }
                
                    .social-text {
                        font-size: 1.5rem;
                    }
                
                    .about-us-socials i{
                        font-size: 2.3rem;
                    }

                    .footer-content{
                        padding: 0 4rem;
                    }   
        
                    footer h3{
                        padding: .75rem 0 0 4rem;;
                        font-size: 2.4rem;
                    }
            
                    .contact-us-socials i {
                        font-size: 1.95rem;
                    }
            
                    .contact-social-text{
                        font-size: 1.8rem;
                    }
            
                    .footer-left{
                        font-size: 1.2rem;
                    }
            
                    .footer-bottom p{
                        font-size: 1rem;
                    }

                    footer{
                        padding: 1rem 0;
                    }

                    .footer-content{
                    padding: 1rem 2.5rem;
                    }

                    @media screen and (min-width: 1536px) {
                        nav {
                            padding: 1.25rem 2.25rem;
                        }

                        nav li {
                            margin-right: 2.5rem;
                        }

                        nav a {
                            font-size: 2rem;
                        }

                        .banner-img {
                            width: 32rem;
                        }   

                        .banner-text-solid {
                            font-size: 6.5rem;
                        }

                        .banner-text-outline {
                            font-size: 6.2rem;
                        }

                        .banner-text-details {
                            font-size: 1.3rem;
                            max-width: 650px;
                        }

                        .banner-btn-text {
                            color: var(--var-white);
                            text-decoration: none;
                            font-size: 1.25rem;
                        }
                        
                        .ads{
                            width: 39rem;
                            padding: 2rem .8rem;
                        }
                    
                        .ads img{
                            width: 35rem;
                        }

                        .pastries-text-details,
                        .pastries-text-details-styled {
                            font-size: 1rem;
                            max-width: 680px;
                        }

                        .pastries-right-img {
                            width: 26rem;
                            top: -2.5rem;
                            right: -16rem;
                        }

                        .pastries-right-text h2 {
                            font-size: 2.6rem;
                        }

                        .waffle-img {
                            width: 24rem;
                        }

                        .offer h2 {
                            font-size: 3rem;
                            padding: 0 0 1rem 40rem;
                        }

                        .offer-right {
                            grid-template-columns: 1.3fr 1.3fr;
                            /* gap: 1rem; */
                            padding: 0 0 0 32rem;
                        }

                        .offer-boxes {
                            padding: 1rem .5rem 1rem 0;
                        }


                        .offer-boxes h3 {
                            font-size: 1.8rem;
                        }

                        .offer-boxes p {
                            max-width: 360px;
                            text-align: right;

                            font-size: 1.2rem;
                            padding: 0 0 .75rem 0;
                        }

                        .offer-img {
                            width: 33rem;
                            top: 2.6rem;
                            left: 0
                        }


                        .offer-icon-1 {
                            padding: 1.1rem 1.4rem;
                            font-size: 2.5rem;
                        }

                        .offer-icon-2 {
                            padding: 1.2rem 1.7rem;
                            font-size: 2.5rem;
                        }

                        .offer-icon-3 {
                            padding: 1.2rem 1.5rem;
                            font-size: 2.5em;
                        }

                        .offer-icon-4 {
                            padding: 1.3rem 1.4rem;
                            font-size: 2.5rem;
                        }

                        .menu-gradient {
                            font-size: 3rem;
                        }

                        .menu-img {
                            width: 90rem;
                        }

                        .about-img{
                            padding: 5rem 0 0 0;
                            width: 85rem;
                        }

                        .about-us-socials{
                            padding: 0 10rem;
                        }
                
                        .about-us-text h3 {
                            font-size: 2.8rem;
                            padding: 1.75rem 0;
                        }
                    
                        .social-text {
                            font-size: 2rem;
                        }
                    
                        .about-us-socials i{
                            font-size: 2.8rem;
                        }

                        .footer-content{
                            padding: 0 5rem;
                        }   
            
                        footer h3{
                            padding: .75rem 0 0 5rem;;
                            font-size: 2.7rem;
                        }
                
                        .contact-us-socials i {
                            font-size: 2.45rem;
                        }
                
                        .contact-social-text{
                            font-size: 2.4rem;
                        }
                
                        .footer-left{
                            font-size: 1.5rem;
                        }
                
                        .footer-bottom p{
                            font-size: 1.3rem;
                        }

                        footer{
                            padding: 1rem 0;
                        }
    
                        .footer-content{
                        padding: 1rem 2.5rem;
                        }
                    }
                }
            }
        }
    }
}